@use "../../global/mixins";
@use "../../global/bp";
@use "../../global/colors";

.launch-item {
  width: 100%;
  height: auto;
  min-height: 100px;
  padding: 15px;
  background-color: colors.$gray;
  margin-bottom: 30px;
  border-radius: 10px;

  &:first-child {
    margin-top: 30px;
  }

  h4 {
    letter-spacing: 1px;
    margin: 0px;
  }
}

.row-between {
  width: 100%;
  height: auto;
  @include mixins.flex-between;
}

.mission-name {
  letter-spacing: 1px;

  &--future {
    color: lightgray;
  }

  &--success {
    color: #43a047;
  }

  &--failure {
    color: #ff3d00;
  }
}

.date {
  color: lightgray;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
