$darkBG: #222930;

.container-full {
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.container-flex-row-wrap {
  background-color: $darkBG;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: $darkBG;
}

.pd-all-20 {
  padding: 20px;
}
